.item{

    &-bid{
        padding-left: 2%;
        width: 100%;
        height: 20%;
        font-size: 12px;
        font-weight: bold;

        &-value{
            color: #fc7a1e;
            font-weight: normal;
        }

    }

    &-totalbid{
        padding-left: 2%;
        width: 100%;
        height: 20%;
        font-size: 12px;
        font-weight: bold;
        margin-top: -2%;

        &-value{
            font-weight: normal;
        }

    }

    &-enterPrice{
        width: 100%;
        margin-left: 2%;
        margin-bottom: 4%;

        &-input{
            width: 80%;
            height: 41px;
            border-radius: 4px;
            border: solid 1px #c4c4c4;
            font-size: 16px;
            
            &:focus:invalid {
                border-bottom: 3px solid red;
            }
        }
    }

    &-enterBid{
        width: 16%;
        height: 41px;
        border-radius: 4px;
        margin-bottom: 4%;
        margin-left:-1.1% ;
        border: solid 1px #c4c4c4;
        background-color: #2f2e41;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        color: #fff;

        
    }

    &-heart{
        margin-right: 2%;
        
        &-icon{
            width: 2rem;
            height: auto;
            transition: all .2s;

            &:hover{
                cursor: pointer;
            }
           
        }
    }


}