.create{
    width: 100%;
    height: 80vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &-buyitnow{
        width: 80rem;
        height: 80%;
        border: solid 1px #c4c4c4;
        border-radius: 8px;
        margin-bottom: 4vh;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        background-color: white;

        display: flex;
        flex-direction: column;

        &-choice{
            margin-top: 2rem;
            background-color: inherit;
            display: flex;
            justify-content: space-evenly;
            
        }

    }

    &-auction{
        width: 80rem;
        height: 80%;
        border: solid 1px #c4c4c4;
        border-radius: 8px;
        margin-bottom: 4vh;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        background-color: white;
    }

}


.box{
    width: 107px;
    height: 27px;
    margin: 0 8px 0 0;
    padding: 3px 13px 7px;
    border-radius: 44px;
    text-align: center;
}

.chosen{
    background-color: #2f2e41;
    color: #c4c4c4;
}