body{
    background-color: #f6f6f6;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
    .logo-container{
        display: flex;
        align-items: center;
        img{
            height: 81px;
        }
    }
}

.container{
    width: 1140px;
    .top-band{
        width: 100%;
        height: 66px;
        border-radius: 8px;
        border: 1px solid #c4c4c4;
        margin-top: 22px;
        margin-bottom: 22px;
    }
    .content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .left-navigation{
            height: 385px;
            width: 260px;
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            .nav-item{
                width: 100%;
                height: 55px;
                background-color: white;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #2f2e41;
                padding-left: 20px;
                font-size: 24px;
                font-family: "Roboto";
                font-weight: bold;
                border-bottom: 1px solid #c4c4c4;
                &:hover{
                    background-color: #fd7a24;
                    color: white;
                }
                &:last-child{
                    border-bottom-right-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
                &:first-child{
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
                }

                &.active{
                    background-color: #fd7a24;
                    color: white;
                }

            }
        }

        .right-content{
            width: 845px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border-radius: 8px;
            border: 1px solid #c4c4c4;

            .create-item-container{

                width: 407px;
                height: 564px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 36px;
                padding-top: 45px;
                border-radius: 8px;
                .switch{
                    margin-bottom: 20px;
                    width: 212px;
                    height: 33px;
                    background: #f6f6f6;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 30px;
                    a{
                        text-decoration: none;
                        text-align: center;
                        width: 107px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 30px;
                        height: 27px;
                        color: #2f2e41;
                        z-index: 2;
                        transition: all 0.5 ease;
                    }
                    #selector{
                        width: 107px;
                        border-radius: 30px;
                        height: 27px;
                        background-color: #2f2e41;
                        position: absolute;
                        transition: all 0.5s ease;
                        &.right{
                            transform: translateX(104px);
                        }
                    }
                    .active{
                        color: #f6f6f6;
                    }
                }

                select{
                    width: 330px;
                    height: 40px;
                    border-radius: 4px;
                    border: 1px solid #c4c4c4;
                    padding-left: 10px;
                }

                #priceInput{
                    display: none;
                }
                #bidInput{
                    display: none;
                }

                input{
                    width: 318px;
                    height: 40px;
                    border-radius: 4px;
                    padding: 0;
                    border: 1px solid #c4c4c4;
                    padding-left: 10px;
                    &.active{
                        display: block !important;
                    }
                }
                

                textarea{
                    width: 315px;
                    height: 110px;
                    border-radius: 4px;
                    border: 1px solid #c4c4c4;
                    padding-left: 10px;
                    padding-top: 10px;
                    font-family: "Roboto";
                }

                .btn-create{
                    width: 209px;
                    height: 41px;
                    background-color: #2f2e41;
                    color: white;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
    }
}