.filter-search {
    width: 1140px;
    height: 66px;
    margin-top: 22px;
    padding: 13px 15px 13px 36px;
    border-radius: 8px;
    border: solid 1px #c4c4c4;
    display: flex;
    align-items: center;
    gap: 20px;

    &__search {
        width: 80%;
        display: flex;
        flex-direction: row-reverse;


        &-input {
            align-items: flex-end;
            width: 330px;
            height: 40px;
            margin-right: 3rem;
            border: solid 1px #c4c4c4;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            border-radius: 4px;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            background-color: #f6f6f6;
            transition: all .2s;
            padding-left: 10px;

            &:focus {
                border: none;
                box-shadow: 0 1rem 2rem rgba(black, .2);

            }

        }

    }

    &__filter {
        display: flex;
        justify-content: center;
        align-items: center;

        &__checkbox {
            transform: scale(1.3);
        }


    }

}

.filter-label {
    width: 10rem;
    margin-left: 13px;

    margin-bottom: 0rem;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;

}