.filter-searchh{
    width: 90%;
    height: auto;
    margin-top: -15rem;
    margin-left: 8rem ;
    padding: 13px 15px 13px 36px;
    border-radius: 8px;
    border: solid 1px #c4c4c4;

    &-bids{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;

        &-input{
            width: 330px;
            height: 40px;
            margin-right: 3rem;
            border: solid 1px #c4c4c4;
            font-family:  'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            border-radius: 4px;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            background-color: #f6f6f6;
            transition: all .2s;
    
            &:focus{
                border: none;
                box-shadow: 0 1rem 2rem rgba(black, .2);
    
            }
        }
    }
}

.filter-searchh-bids{
    width: 100%;
    
    display: flex;
    flex-direction: row-reverse;

    
}