.filter-searchh {
    width: 1140px;
    height: 66px;
    margin-top: 22px;
    padding: 13px 15px 13px 36px;
    border-radius: 8px;
    border: solid 1px #c4c4c4;

    &-bids {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;

        &-input {
            width: 330px;
            height: 40px;
            margin-right: 3rem;
            border: solid 1px #c4c4c4;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            border-radius: 4px;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            background-color: #f6f6f6;
            transition: all .2s;
            padding-left: 10px;

            &:focus {
                border: none;
                box-shadow: 0 1rem 2rem rgba(black, .2);

            }
        }
    }
}

.filter-searchh-bids {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.left-navigation-new {
    padding: 0;
    margin-top: 21px;
    margin-left: -14px;
}

.right-content-new {
    margin-top: 21px;
    padding-top: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between !important;
    background-color: #f6f6f6 !important;
    border: none !important;

}

.bid {
    width: 260px;
    background-color: white;
    margin-bottom: 10px;
    border: solid 1px #c4c4c4;
    border-radius: 8px;

}