
.active{
    background-color: #fd7a24;
    color: white;
}

.profile-info{
    width: 846px;
    height: 657px;
    background-color: white;
    margin-left: 33px;
    margin-bottom: 4rem;
    border-radius: 8px;
    border: solid 1px #c4c4c4;

    display: flex;
    flex-direction: column;
    justify-content: start !important;
    

    &-img{
        width: 100px;
        height: 100px;
        margin-top:83px ;
    }

    &-forms{
        width: 330px;
        height: 40px;
        margin-top: 2vh;
        //margin-left: 6.5vw;

        &-input{
            width: 100%;
            margin-top: 1vh;
        }

        
    }

    
}