.empty-row{
    width: 90vw;
    height: 66px;
    margin-top: -15rem;
    margin-left: 8rem ;
    padding: 13px 15px 13px 36px;
    border-radius: 8px;
    border: solid 1px #c4c4c4;
    
}

.navigation-row{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: nowrap;
}

.navigation{
    width: 50vw;
    height: 80px;

    &-bar{
        width:30vw;
        list-style: none;
        display: flex;
        flex-direction: column;
        font-family:  'Roboto', sans-serif;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        margin-left: -80px;
        margin-top: 2rem;
        align-items: center;
        flex-direction: column;
        
        &-box{
            width: 80%;
            height: 55px;
            border-radius: 8px;
            border: solid 1px #c4c4c4;
            display: flex;
            justify-content: space-around;
            background-color: #fff;
    
            &-link{
                width: 100%;
                height: 100%;
                margin-left: 2.5%;
                margin-top: 6%;
                text-decoration: none;
                align-self: center;
                color: black;
                font-weight: bold;

                &:hover{
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}

.active{
    background-color: #fd7a24;
    color: white;
}

.profile-info{
    height: 75vh;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 8px;
    border: solid 1px #c4c4c4;

    display: flex;
    flex-direction: column;
    

    &-img{
        width: 8vw;
        height: auto;
        margin-top: 2vh;
        align-self: center;
        justify-self: center;
    }

    &-forms{
        width: 50vw;
        height: 4vh;
        margin-top: 2vh;
        margin-left: 6.5vw;

        &-input{
            margin-top: 1vh;
        }

        
    }

    
}