.purchased-item-btn-disabled{
    align-self: center;
    width: 96%;
    height: 41px;
    border-radius: 4px;
    margin-bottom: 4%;
    border: solid 1px #c4c4c4;
    background-color: #c4c4c4;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #2f2e41;
}